<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script th:src="@{/static/js/popper.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/feather.min.js}"></script>
    <script th:src="@{/static/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/static/js/jquery.nstSlider.min.js}"></script>
    <script th:src="@{/static/js/owl.carousel.min.js}"></script>
    <script th:src="@{/static/js/visible.js}"></script>
    <script th:src="@{/static/js/jquery.countTo.js}"></script>
    <script th:src="@{/static/js/chart.js}"></script>
    <script th:src="@{/static/js/plyr.js}"></script>
    <script th:src="@{/static/js/tinymce.min.js}"></script>
    <script th:src="@{/static/js/slick.min.js}"></script>
    <script th:src="@{/static/js/jquery.ajaxchimp.min.js}"></script>

    <script th:src="@{/static/js/custom.js}"></script>
    <script th:src="@{/static/js/dashboard.js}"></script>
    <script th:src="@{/static/js/datePicker.js}"></script>
    <script th:src="@{/static/js/upload-input.js}"></script>

    <script th:src="@{/static/js/map.js}"></script>
</footer>
