<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/feather.min.js}"></script>
	<script th:src="@{/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/js/jquery.nstSlider.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/visible.js}"></script>
	<script th:src="@{/js/jquery.countTo.js}"></script>
	<script th:src="@{/js/chart.js}"></script>
	<script th:src="@{/js/plyr.js}"></script>
	<script th:src="@{/js/tinymce.min.js}"></script>
	<script th:src="@{/js/slick.min.js}"></script>
	<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>

	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/dashboard.js}"></script>
	<script th:src="@{/js/datePicker.js}"></script>
	<script th:src="@{/js/upload-input.js}"></script>

	<script th:src="@{/js/map.js}"></script>
</footer>
