<head xmlns:th="http://www.thymeleaf.org" th:fragment="header">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>VnCodelab</title>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	
	<!-- External Css -->
	<link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
	<link rel="stylesheet" th:href="@{/css/themify-icons.css}" />
	<link rel="stylesheet" th:href="@{/css/et-line.css}" />
	<link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}" />
	<link rel="stylesheet" th:href="@{/css/plyr.css}" />
	<link rel="stylesheet" th:href="@{/css/flag.css}" />
	<link rel="stylesheet" th:href="@{/css/slick.css}" />
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" />
	<link rel="stylesheet" th:href="@{/css/jquery.nstSlider.min.css}" />
	
	<!-- Custom Css -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
	
	<!-- Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500"
		rel="stylesheet">
</head>