<!doctype html>
<html lang="en">
<head th:include="util/header :: header">
<body>

	<!-- Breadcrumb -->
	<div class="alice-bg padding-top-70 padding-bottom-70">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="breadcrumb-area">
						<h1>Laboratory Dashboard</h1>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Laboratory
									Dashboard</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb End -->

	<div class="alice-bg section-padding-bottom">
		<div class="container no-gliters">
			<div class="row no-gliters">
				<div class="col">
					<div class="dashboard-container">
						<div class="dashboard-content-wrapper">
							<div class="manage-job-container">
								<table class="table">
									<thead>
										<tr>
											<th>Document ID</th>
											<th>Document Name</th>
											<th>Description</th>
											<th>HTML</th>
											<th style="text-align: center;">Category ID</th>
											<th class="action">Action</th>
										</tr>
									</thead>
									<tbody th:each="lab : ${pageLab}">
										<tr class="job-items">
											<td class="title">
												<h5>
													<a href="#" th:text="${lab.docID}"></a>
												</h5>
											</td>
											<td class="application"><a href="#"
												th:text="${lab.name}"></a></td>
											<td class="deadline" th:text="${lab.description}"></td>
											<td class="status active" th:text="${lab.html}"></td>
											<td class="labcate" th:text="${lab.cateID}"
												style="text-align: center;"></td>
											<td class="action"><a href="#" class="preview"
												title="Preview"><i data-feather="eye"></i></a> <a href="#"
												class="edit" title="Edit"><i data-feather="edit"></i></a> <a
												href="#" class="remove" title="Delete"><i
													data-feather="trash-2"></i></a></td>
										</tr>
									</tbody>
								</table>

								<div class="pagination-list text-center">
									<nav class="navigation pagination">
										<div class="nav-links">
											<span class="prev page-numbers"
												th:if="${pageLab.hasPrevious()}"> <a
												th:href="@{'/admin/cate?pageNumber=' + ${pageLab.number}}">Pre</a>
											</span> <span class="page-numbers"
												th:each="i: ${#numbers.sequence(0, pageLab.totalPages - 1)}">
												<span th:if="${pageLab.number == i}" class="selected">[[${i}+1]]</span>
												<span th:unless="${pageLab.number == i}"> <a
													th:href="@{'/admin/cate?pageNumber='+${i+1}}">[[${i}+1]]</a>
											</span>
											</span> <span class="next page-numbers"
												th:if="${pageLab.hasNext()}"> <a
												th:href="@{'/admin/cate?pageNumber='+${pageLab.number+2}}">Next</a>
											</span>
										</div>
									</nav>
								</div>

							</div>
						</div>
						<div class="dashboard-sidebar">
							<div class="company-info">
								<div class="thumb">
									<img src="" class="img-fluid" alt="">
								</div>
								<div class="company-body">
									<h5>Viet Anh</h5>
									<span>@Anh</span>
								</div>
							</div>
							<div class="dashboard-menu">
								<ul>
									<li><i class="fas fa-home"></i><a href="#">Dashboard</a></li>
									<li><i class="fas fa-briefcase"></i><a th:href="@{cate}">Manage
											Categories</a></li>
									<li><i class="fas fa-users"></i><a th:href="@{laboratory}">Manage
											Labs</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="util/footer :: footer"></div>

</body>
</html>