
.chat-leftside{
    background: #f5f5f5;
}

#collapse-online{
    position: absolute;
    top: 80px;
    right: 30px;
   width: 660px;
    border-radius: 0.5rem;
    padding-left: 0px !important;
    padding-right: 0px !important;
    z-index: 1002;
}

#collapse-profile{
    position: absolute;
    top: 80px;
    right: 30px;
    width: 350px;
    border-radius: 0.5rem;
    z-index: 1003;
    background: white;
}

.profile{
    display: flex;
    flex-wrap: wrap;

}
.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}



::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

.media {
    display: flex;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.chat-time{
    font-size: 12px;
}
.media-body {
    width: 100%;
    margin: auto;
    padding-left: 10px;
}
.chat-body {
    text-align: right;
}
.chat-75{
    max-width:55%
}

.main-chat {

}

.text-small {
    font-size: 0.9rem;
}

.messages-box,
.chat-box {
    height: 510px;
    overflow-y: scroll;
}


input::placeholder {
    font-size: 0.9rem;
    color: #999;
}

.speech-bubble {
    position: fixed;
    background: #007bff;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 15px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color: #007bff;
    border-left: 0;
    border-top: 0;
    margin-top: -4px;
    margin-left: -8px;
}