<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
	<script th:src="@{/admin/js/jquery.min.js}"></script>
	<script th:src="@{/admin/js/popper.min.js}"></script>
	<script th:src="@{/admin/js/bootstrap.min.js}"></script>
	<script th:src="@{/admin/js/feather.min.js}"></script>
	<script th:src="@{/admin/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/admin/js/jquery.nstSlider.min.js}"></script>
	<script th:src="@{/admin/js/owl.carousel.min.js}"></script>
	<script th:src="@{/admin/js/visible.js}"></script>
	<script th:src="@{/admin/js/jquery.countTo.js}"></script>
	<script th:src="@{/admin/js/chart.js}"></script>
	<script th:src="@{/admin/js/plyr.js}"></script>
	<script th:src="@{/admin/js/tinymce.min.js}"></script>
	<script th:src="@{/admin/js/slick.min.js}"></script>
	<script th:src="@{/admin/js/jquery.ajaxchimp.min.js}"></script>

	<script th:src="@{/admin/js/custom.js}"></script>
	<script th:src="@{/admin/js/dashboard.js}"></script>
	<script th:src="@{/admin/js/datePicker.js}"></script>
	<script th:src="@{/admin/js/upload-input.js}"></script>
</footer>
