<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta name="theme-color" content="#4F7DC9">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:400|Roboto:400,300,400italic,500,700|Roboto+Mono">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://storage.googleapis.com/codelab-elements/codelab-elements.css">
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../static/css/balloon.min.css" th:href="@{/css/balloon.min.css}" rel="stylesheet"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="../static/css/login-register.css" th:href="@{/css/login-register.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="../static/css/chat.css" th:href="@{/css/chat.css}" rel="stylesheet"/>

</head>
<body>


<google-codelab codelab-gaid=""
                th:id="${lab.name}"
                title="Title"
                environment="web"
                feedback-link="">

    <div th:utext="${lab.html}"></div>


<!--<google-codelab codelab-gaid=""-->
<!--                id="title"-->
<!--                title="Title"-->
<!--                environment="web"-->
<!--                feedback-link="">-->

<!--    <google-codelab-step label="Heading 1" duration="3">-->
<!--        <p> Duration:3:00 which uses dark grey 1 text.</p>-->
<!--        <h2 is-upgraded>Heading 2</h2>-->
<!--        <p class="image-container"><img style="width: 96.31px" src="img/6287aa28c16749ca.png"></p>-->
<!--        <aside class="warning"><p>Table single-cell with Light Orange 3 background</p>-->
<!--        </aside>-->
<!--        <aside class="special"><p>Table single-cell with Light Green 3 background</p>-->
<!--        </aside>-->
<!--        <pre>Table single-cell with Consolas font</pre>-->
<!--        <pre><code>public class Helloworld(){-->
<!--//Use courier new font for code, xml ...-->
<!--}</code></pre>-->
<!--        <p><a href="https://downloadfestival.co.uk/" target="_blank">-->
<!--            <paper-button class="colored" raised>Download</paper-button>-->
<!--        </a> (Text with Dark green 1 background + hyperlink)-->
<!--        </p>-->
<!--        <google-codelab-survey survey-id="title-1">-->
<!--            <h4>Heading 4 in single-cell table with a light blue 3 background.</h4>-->
<!--            <paper-radio-group>-->
<!--                <paper-radio-button>List item 1</paper-radio-button>-->
<!--                <paper-radio-button>List item 2</paper-radio-button>-->
<!--                <paper-radio-button>List item 3</paper-radio-button>-->
<!--            </paper-radio-group>-->
<!--        </google-codelab-survey>-->


<!--    </google-codelab-step>-->

<!--    <google-codelab-step label="Cài đặt Claat" duration="0">-->
<!--        <p>Cài đặt go tại website</p>-->
<!--        <p class="image-container"><img style="width: 601.70px" src="img/6205e03d42f5789d.png"></p>-->
<!--        <p>Sau khi cài đặt xong go, tải claat bằng cách gõ lệnh sau:</p>-->
<!--        <pre>go get github.com/googlecodelabs/tools/claat</pre>-->
<!--        <p>Sau khi lệnh trên chạy xong claat được tải về</p>-->
<!--        <p class="image-container"><img style="width: 601.70px" src="img/a0b2d24c521a1d56.png"></p>-->
<!--        <p>Chạy claat bằng lệnh sau (chú ý thay đổi đường dẫn):</p>-->
<!--        <pre>/Users/xuanlam/go/bin/claat 1EEGARIc9dEj9mpnmKoYP8n4EA9KNH9qR0W2c6CYEWT0</pre>-->

<!--    </google-codelab-step>-->

<!--    <google-codelab-step label="Tạo ra trang landing page" duration="0">-->

<!--    </google-codelab-step>-->

<!--</google-codelab>-->
<div id="divtoshow" style="position: fixed;display:none;z-index: 2000" class="speech-bubble"></div>
<!--TOP BUTTON-->
<div id="topButton">
    <!--Profile Button-->
    <img class="rounded-circle d-none" width="36px" height="36px" id="profilePicture" data-bs-toggle="collapse" data-bs-target="#collapse-profile">
    <button id="btnLogin" type="button" class="btn btn-primary d-none">Đăng nhập</button>
    <!--Room button-->
    <button id="btnRoom" type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapse-online">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd"
                  d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
        </svg>
        <span class="badge badge-secondary bg-secondary" id="numOnline">0</span>
    </button>
    <!--More Button-->
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="btnMore" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            data-bs-offset="0,25"></button>
    <div class="dropdown-menu shadow border-0" id="dropdown-signout">
        <a class="dropdown-item" href="#">Hướng dẫn</a>
    </div>
</div>

<!--MODAL CREATE ROOM-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo phòng học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="add-form" th:action="@{/save}">
                <div class="modal-body">
                    Chức năng này tạo ra một phòng học để theo dõi các học viên thực hành trên từng bước
                </div>
                <div class="modal-footer">
                    <span class="mr-auto text-danger" id="modal-error"></span>
                    <button type="submit" class="btn btn-primary" id="create-room-button">Tạo</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--MODAL LOGIN-->
<div class="modal fade login" id="loginModal">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đăng nhập với</h5>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="content">
                        <div class="social">
                            <a id="google_login" class="circle google" href="#">
                                <i class="bi bi-google"></i>
                            </a>
                            <a id="facebook_login" class="circle facebook" href="#">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a class="circle github" href="#">
                                <i class="bi bi-twitter"></i>
                            </a>
                        </div>
                        <div class="division">
                            <div class="line l"></div>
                            <span>hoặc</span>
                            <div class="line r"></div>
                        </div>
                        <div class="error"></div>
                        <div class="form loginBox">
                            <form method="" action="" accept-charset="UTF-8">
                                <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                <input class="btn btn-default btn-login" type="button" value="Login" onclick="loginAjax()">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content registerBox" style="display:none;">
                        <div class="form">
                            <form method="" html="{:multipart=>true}" data-remote="true" action="" accept-charset="UTF-8">
                                <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password"
                                       name="password_confirmation">
                                <input class="btn btn-default btn-register" type="button" value="Create account" name="commit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="forgot login-footer">
                            <span>Looking to
                                 <a href="javascript: showRegisterForm();">create an account</a>
                            ?</span>
                </div>
                <div class="forgot register-footer" style="display:none">
                    <span>Already have an account?</span>
                    <a href="javascript: showLoginForm();">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--TOAST-->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1005">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img width="15px" height="15px" class="me-2" src="../static/images/chat-right-text-fill.svg" th:src="@{/images/chat-right-text-fill.svg}"/>
            <strong class="me-auto" id="toastTitle">Bootstrap</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toastBody">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

<!--COLLAPSE CHAT ROOM-->
<div class="collapse container row rounded-lg overflow-hidden shadow " id="collapse-online" aria-expanded="true">
    <!-- Users box-->
    <div class="col-4 px-0 chat-leftside">
        <div class="messages-box">
            <div class="list-group rounded-0">
                <a onclick='showChat(this,"all")' class="list-group-item list-group-item-action active text-white rounded-0 media uchat" id="chat0">
                    <img src="../static/images/people-fill.svg" th:src="@{/images/people-fill.svg}" alt="user" width="50" class="rounded-circle">
                    <div class="media-body">Tất cả</div>
                </a>
                <div id="usersChat">
                </div>
            </div>
        </div>

    </div>
    <!-- Chat Box-->
    <div class="col-8 px-0 main-chat">
        <div class="px-4 chat-box bg-white" id="chatMessages">

        </div>

        <!-- Typing area -->
        <form action="#" class="bg-light input-group">

            <input id="txtMessage" type="text" autocomplete="off" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 bg-light">
            <div class="input-group-append">
                <button id="button-addon2" type="submit" class="btn btn-link" onclick="sendMessage()">
                    <img width="30px" height="30px" src="../static/images/send-button.svg" th:src="@{/images/send-button.svg}"/>
                </button>
            </div>

        </form>

    </div>
</div>

<!--COLLAPSE PROFILE-->
<div class="collapse shadow" id="collapse-profile">
    <div class="profile">
        <img class="rounded-circle" id="profilePictureBig" alt="">
        <div class="profile-info">
            <h6 class="m-1 text-primary" id="profileName"></h6>
            <span class="m-1" id="profileEmail"></span>
            <a href="#" class="btn btn-sm btn-primary m-1" id="signout">Đăng xuất</a>
        </div>

    </div>
</div>

<script src="https://storage.googleapis.com/codelab-elements/native-shim.js"></script>
<script src="https://storage.googleapis.com/codelab-elements/prettify.js"></script>
<script src="https://storage.googleapis.com/codelab-elements/codelab-elements.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-database.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-messaging.js"></script>


<script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>

<script type="text/javascript" src="../static/js/login.js" th:src="@{/js/login.js}"></script>
<script type="text/javascript" src="../static/js/lab.js" th:src="@{/js/lab.js}"></script>

</body>
</html>
